* {
    padding: 0px;
    margin: 0px;
    min-width: 0%;
    min-height: 0%;
    font-family: Arial;
}

body {
    background-color: #36393e;
}

#h {
    font-family: Arial;
    font-weight: bold;
    font-size: 175px;
}

#p, #a {
    font-size: 50px;
}

#h, #p, #a {
    color: white;
    text-align: center;
    padding: 20px;
}